/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.derso-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(255, 6, 6, 0.677);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: .2s;
}

button:hover {
    box-shadow: 0px 0px 8px rgb(247, 5, 5);
    transform: scale(1.05);
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: rgba(255, 6, 6, 0.677);
}

h1 span {
    color: rgba(255, 6, 6, 0.677);
}


/* ESTILO CABEÇALHO */

header {
    padding: 40px 4%;
    
}

header > .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: rgb(99, 99, 99);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO MENU MOBILE */

.menu-mobile {
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .4s;
}

.menu-mobile.menu-aberto {
    width: 70%;
}

.menu-mobile.menu-aberto ~ .overlay-menu {
    display: block;
}

.abrir-menu i {
    color: red;
    font-size: 40px;
    display: none;
}

.menu-mobile .derso-fechar {
    padding: 20px 5%;
}

.menu-mobile .derso-fechar i {
    color: red;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: rgba(255, 6, 6, 0.677);
    color: black;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.679);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}



/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 80px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-do-site .txt-topo-site h1 {
    color: white;
    font-size: 45px;
    line-height: 45px;
    
}

section.topo-do-site .txt-topo-site h1 span {
    color: rgba(255, 6, 6, 0.677);
}

section.topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0;
}

section.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

section.especidalidades {
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    margin-top: 45px;
    margin-bottom: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.333);
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: rgba(255, 6, 6, 0.677);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO SOBRE */

section.sobre {
    padding: 80px 4%;
    padding-bottom: 260px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;

}

section.sobre .txt-sobre {
    color: white;
}

section.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

section.sobre .txt-sobre h2 span {
    color: rgba(255, 6, 6, 0.677);
    display: block;
}

section.sobre .txt-sobre p {
    margin: 20px 0px;
    text-align: justify;
}

.dersin-sociais button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 6, 6, 0.677);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: white;
}

/* ESTILO FOOTER */

footer {
    padding: 10px 4%;
    box-shadow: 0 0 40px 10px #ffffff10;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    color: white;
}

footer .dersin-sociais button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 6, 6, 0.677);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: white;
    margin-top: 30px;
}

footer p i {
    width: 60px;
    height: 60px;
    
    border: none;
    margin-left: 30px;
    font-size: 22px;        
    color: rgba(255, 6, 6, 0.677);
}

footer .line-footer-borda {
    border-top: 2px solid rgba(255, 6, 6, 0.677);
}

footer p {
    color: white;
    line-height: 1.8;
    padding-top: 10px;
}


/* COMPOSIÇÃO */

section.comps {
    padding: 40px 8%;
    
}

section.comps .flex {
    gap: 20px;
    flex-direction: column;
}

section.comps .txt-comps h2 {
    font-size: 40px;
}


section.comps .txt-comps h3 {
    font-size: 40px;
}


section.comps h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-bottom: 80px;
}

section.comps h2, h3, p {
    color: white;
    
}

section.comps .composicao h3 {
    font-size: 30px;
    padding: 20px 20px 20px 130px;
    text-align: left;
}



.comps .composicao {
    text-align: center;
}

.comps .composicao img {
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.comps .composicao-info {
    max-width: 1020px;
    margin: 0 auto;
}

.comps .composicao-info h3 {
    display: inline-block;
    padding: 10px 0px 10px 0px;
}



.composicao-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.comps .composicao-info img {
    border-radius: 10px;
}

.comps .composicao-info #caitlyn2 {
    margin-top: 20px;
}


@media screen and (max-width: 1020px) {
    /* GERAL */
    .flex {
        flex-direction: column;
    }

    .img-topo-site .flex {
        flex-direction: column-reverse;
    }

    section.topo-do-site .img-topo-site img {
        width: 100%;
    }

    h2.titulo {
        padding-top: 60px;
        font-size: 34px;
        line-height: 30px;
    }
    
    /* CABEÇALHO */
    .menu-desktop, .derso-contato {
        display: none;
    }

    .abrir-menu i {
        display: block;
    }

    /* TOPO-DO-SITE */

    section.topo-do-site {
        padding: 20px 8%;
    }

    section.topo-do-site .txt-topo-site h1 {
        font-size: 30px;
    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    /* ESPECIALIDADES */
    section.especidalidades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 40px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .dersin-sociais {
        text-align: center;
    }
    
    .img-sobre img {
        width: 100%;
    }

    /* COMPOSIÇÕES */

    section.comps {
        padding: 20px 4%;
    }

    .comps .composicao img#um {
        content: url('images/blitz-sentinela-pequeno.png');
        
    }

    .comps .composicao-info img#comp-um {
        content: url('images/comp-ahri-sentinela-pequeno.png');
        
    }

    .comps .composicao img#dois {
        content: url('images/ez-bigshot-pequeno.png');
    }

    .comps .composicao-info img#comp-dois {
        content: url('images/comp-ez-bigshot-pequeno.png');
    }

    .comps .composicao img#tres {
        content: url('images/caitlyn-true\ damage-pequeno.png');
    }

    .comps .composicao-info img#comp-tres {
        content: url('images/comp-caitlyn\ true\ damage-pequeno.png');
    }

    .comps .composicao-info img#caitlyn2 {
        content: url('images/comp-caitlyn\ true\ damage2-pequeno.png');
    }


    section.comps .composicao h3 {
        font-size: 25px;
        padding-left: 0px;
    }

    section.comps .txt-comps h2 {
        font-size: 30px;
        text-align: center;
        padding-bottom: 30px;
        margin-top: -30px;
    }

    section.comps .txt-comps h3 {
        color: rgba(255, 6, 6, 0.677);
    }

    section.comps p {
        text-align: justify;
    }

    
    /* FOOTER */
    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
    }

    footer .dersin-sociais button {
        display: none;
    }

    footer p {
        text-align: center;
    }
}

